.book {
  display: flex;
  flex-direction: column;

  padding: 15px;

  background-color: #ffffff;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.book__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.book__img {
  display: flex;
  align-items: center;
  width: 60px;
  min-width: 60px;
  margin-right: 30px;

  img {
    display: block;
  }
}

  .book__name,
  .book__autor {
    margin: 0 0 7px 0;
    padding: 0;
  }

  .book__name {
    font-size: $font-title;
  }

  .book__autor,
  .book__date {
    font-size: $font-text;
  }

  .book__date {
    margin: 0;
    padding: 0;
  }

.book__buttons {
  display: flex;
}

.book__button {
  padding: 5px;
  border: 1px solid $border-color;

  font-size: 14px;
  color: $text-color;

  background-color: #ffffff;

  cursor: pointer;

  &--edit {
    margin-right: 15px;
  }

  &:focus,
  &:hover {
    background-color: $border-color;
  }
}

@media (min-width: $desktop-width) {
  .book {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .book__wrapper {
    flex-grow: 1;
    align-items: center;
    margin-bottom: 0;
  }

  .book__buttons {
    flex-direction: column;
  }

  .book__button {
    &--edit {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}