.button {
  padding: 10px 30px;
  border: 0;

  color: #ffffff;
  font-size: $font-text;

  background-color: $button-color;

  cursor: pointer;

  &:focus,
  &:hover {
    color: $text-color;

    background-color: $button-hover-color;
  }

  &[disabled] {
    color: #ffffff;

    background-color: $button-color;

    opacity: 0.5;
  }
}