// width
$mobile-width: 320px;
$desktop-width: 600px;

// text
$font-text: 15px;
$font-title: 20px;

// font
$main-font: "Open Sans", sans-serif;

// color
$text-color: #424242;
$border-color: rgb(217, 217, 217);
$bg-color: #f2f2f2;
$button-color: #c6c6c6;
$button-hover-color: #eaeaea;

// hover
$link-hover: 200ms;
